@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(59, 59, 59);
    background-image: url(img/wallpaper.jpg);
    user-select: none;
    overflow: hidden;
}

#FIGMA {
    width: 80%;
    position: absolute;
    z-index: -100;
    left: 10%;
}

#pool,
#throwPool {
    width: fit-content;
    margin: 50px;
}

#pool .card {
    width: 180px;
    border-radius: 20px;
    display: none;
    box-shadow: -2px -2px 10px #000000;
}

#throwPool .card {
    width: 180px;
    border-radius: 30px;
    cursor: default;
}

#turnBtn {
    opacity: 0;
    display: none;
    border-radius: 25px;
    padding: 40px;
    font-size: 30px;
    background-color: #ffffff;
    box-shadow: 2px 2px 20px #263b18;
    transition: 0.3s;
    border: 1px solid #ccc;
    font-weight: bold;
}

.styleCard {
    transform: translate(-10%, 3%);
    z-index: -1;
    position: absolute;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.card {
    margin: 4px;
    transition: 0.3s;
    text-align: center;
    user-select: none;
    border-radius: 10px;
    width: 70px;
}

.player .card,
#pool .card {
    cursor: pointer;
}

#pool .card:hover,
.player .card:hover {
    filter: brightness(110%);
    box-shadow: -2px -2px 20px #000000;
    transform: translate(0, -10px);
}

#pool .card:active,
.player .card:active {
    filter: brightness(40%);

}

.hand {
    padding: 10px;
    min-width: 100px;
    width: fit-content;
    border-radius: 10px;
    min-height: 190px;
    margin: 10px auto;
    background-color: #ADD8E6;
    box-shadow: 1px 1px 10px #000000;
    transition: 0.3s;
    border: 6px solid transparent;
}

h2 {
    margin: 10px auto;
    width: fit-content;
}

.startBtn {
    display: block;
    margin: auto;
    border-radius: 25px;
    padding: 40px;
    font-size: 30px;
    background-color: #ffffff;
    box-shadow: 2px 2px 20px #263b18;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #ccc;
    font-weight: bold;
}

#unoBtn {
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    background-color: #ff000d;
    box-shadow: 2px 2px 20px #263b18;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    border: none;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 10%;
}

.startBtn:hover,
#turnBtn:hover {
    background-color: rgb(92, 92, 231);
    color: white;
    border: 1px solid transparent;
    text-shadow: 2px 2px 1px #263b18;
}

#unoBtn:hover {
    filter: brightness(0.7);
}

.startBtn:active,
#turnBtn:active,
#unoBtn:active {
    filter: brightness(40%);
}

#startScreen img {
    width: 700px;
    margin: 100px auto;
    display: block;
}

.color {
    width: 200px;
    height: 200px;
    margin: 0;
    cursor: pointer;
    border: 6px solid black;
    border-radius: 10px;
}

.color:hover {
    animation: border 1.4s infinite;
}

/* infinite border pulse animation */
@keyframes border {
    0% {
        border: 6px solid white;
    }

    50% {
        border: 6px solid black;
    }

    100% {
        border: 6px solid white;
    }
}

@keyframes border2 {
    0% {
        border: 6px solid white;
    }

    50% {
        border: 6px solid transparent;
    }

    100% {
        border: 6px solid white;
    }
}

@keyframes border3 {
    0% {
        border: 4px solid black;
    }

    50% {
        border: 4px solid transparent;
    }

    100% {
        border: 4px solid black;
    }
}

@keyframes slideIn {
    0% {
        top: -100%
    }
}

@keyframes slideIn2 {
    0% {
        font-size: 0;
    }
}

.colorPicker {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 424px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    transition: 0.3s;
    scale: 0;
    z-index: 10;
    margin: 10px auto;
}

.colorPicker h2 {
    position: absolute;
    /* center it */
    left: 20%;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 1px #000000;
    width: 100%;
}

.turn {
    animation: border2 1.4s infinite;
    background-color: rgb(92, 92, 231);
    color: white;
}

.turn .card {
    width: 80px;
}

.throwable {
    animation: border3 2.2s infinite;
}

.player .card {
    border: 4px solid transparent;
    border-radius: 15px;
}

#endScreen {
    width: 100%;
    background-color: rgba(148, 29, 29, 0.95);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    animation: slideIn 2s;
    animation-fill-mode: both;
}

#endScreen h1 {
    text-align: center;
    font-size: 130px;
    color: gold;
    animation: slideIn2 3s;
    animation-fill-mode: both;
    font-weight: 800;
    text-shadow: 5px 5px 1px black, 5px 5px 100px gold;
}

.leaderboard {
    margin: auto;
    width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.leaderCard {
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

.leaderCard:nth-child(2) {
    box-shadow: 3px 3px 10px gold;
    background-color: gold;
}